.AtmScreen {
	margin: 15px;
	background-color: royalblue;
	min-width: 275px;
	height: 200px;
	border: solid;
	padding: 30px;
	border-color: darkgrey;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.buttonDescriptors {
	font-size: 16px;
	margin-top: 118px;
}

.descriptor-row {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	height: 18px;
}

.descriptor {
	cursor: default;
}
.instructions {
	cursor: default;
}

.balance {
	position: absolute;
	margin-top: 40px;
	left: 0;
	right: 0;
}

#deposit {
	position: absolute;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	resize: none;
	width: 150px;
}